<database-nav [current]="db.name"></database-nav>
<div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" class="close" (click)="toggleMonitor()"
                title="monitor fork of block chain">
            <span class="glyphicon"
                  [class.glyphicon-star-empty]="!monitor"
                  [class.glyphicon-star]="monitor"></span>
        </button>
        <h3 class="panel-title">基本信息</h3>
    </div>
    <div class="panel-body">
        <ng-container *ngIf="db && lastBlock">
            <p>name：<span class="text-success">{{db.name}}</span></p>
            <p>desc：<span class="text-success">{{db.description}}</span></p>
            <p>地址：<span class="text-success">{{db.address}}</span></p>
            <p>高度：<a [routerLink]="['/database', db.id, 'chain', lastBlock.Height]">{{lastBlock.Height}}</a></p>
            <p>最后区块：<a [routerLink]="['/database', db.id, 'chain', lastBlock.Hash]">{{lastBlock.Hash | hashbeauty}}</a>({{lastBlock.Time | date}})</p>
        </ng-container>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">数据表</h3>
    </div>
    <ul *ngIf="db && tables" class="list-group">
        <a *ngFor="let table of tables" [routerLink]="['/database', db.id, 'table', table.Name]" class="list-group-item">{{table.Name}}</a>
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">监控</h3>
    </div>
    <ul class="list-group">
        <li *ngFor="let alert of alertConfigs" class="list-group-item">
            <button type="button" (click)="remove(alert)" class="pull-right btn btn-primary btn-xs">delete</button>
            <ng-container [ngSwitch]="alert.type">
                <ng-template [ngSwitchCase]="'chain-fork'">
                    <span class="glyphicon glyphicon-random"></span>
                    &nbsp;监控 <b>链库的<abbr title="explain of fork">分叉</abbr></b>
                </ng-template>
                <ng-template [ngSwitchCase]="'table-schema'">
                    <span class="glyphicon glyphicon-list-alt"></span>
                    &nbsp;监控 <b>表的<abbr title="explain of schema">结构修改</abbr></b>
                </ng-template>
                <ng-template [ngSwitchCase]="'table-data-modify'">
                    <span class="glyphicon glyphicon-list"></span>
                    &nbsp;监控 <b>表的<abbr title="explain of data modify">数据修改</abbr></b>
                </ng-template>
                <ng-template [ngSwitchCase]="'column-data-modify'">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                    &nbsp;监控 <b>数据列的<abbr title="explain of data modify">数据修改</abbr></b>
                </ng-template>
                <ng-template [ngSwitchCase]="'cell-data-modify'">
                    <span class="glyphicon glyphicon-unchecked"></span>
                    &nbsp;监控 <b>单元格的<abbr title="explain of data modify">数据修改</abbr></b>
                </ng-template>
            </ng-container>
            <ul class="alert-detail-list">
                <li *ngIf="alert.dbname && alert.dbname != db.name">
                    链库: <mark>{{alert.dbname}}</mark>
                </li>
                <li *ngIf="alert.tableName">
                    表: <mark>{{alert.tableName}}</mark>
                </li>
                <li *ngIf="alert.columnName">
                    列: <mark>{{alert.columnName}}</mark>
                </li>
                <li *ngIf="alert.primaryKeyValue">
                    主键值: <mark>{{alert.primaryKeyValue}}</mark>
                </li>
            </ul>
        </li>
    </ul>
</div>