<table *ngIf="table" class="table">
    <thead>
        <tr>
            <th *ngFor="let col of table.columns" [class.danger]="col.name==highlightColumn">
                <a [routerLink]="['/database', table.dbid, 'chain', col.tran?col.tran:'']" title="{{col.history}} changes">
                    {{col.name}}
                </a>
                <span *ngIf="col.name == table.pkname" class="label label-primary">PK</span>
                <button type="button" class="watch" (click)="toggleMonitor(alertColumnData, col.name)"
                        title="monitor column">
                    <span class="glyphicon"
                          [class.glyphicon-star-empty]="!monitorColumn[col.name]"
                          [class.glyphicon-star]="monitorColumn[col.name]"></span>
                </button>
                <button type="button" class="watch" title="edit"
                        [routerLink]="['/database', table.dbid, 'create']"
                        [queryParams]="{type: 'schema', action: 'modify', name: table.tableName, col: col.name}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button type="button" class="watch" title="lock"
                        [routerLink]="['/database', table.dbid, 'create']"
                        [queryParams]="{type: 'lock', target: 'column', name: table.tableName, col: col.name}">
                    <span class="glyphicon glyphicon-lock"></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of table.rows">
            <td *ngFor="let cell of row"
                [class.active]="cell.history == 2"
                [class.success]="cell.history > 2 && cell.history <= 5"
                [class.info]="cell.history > 5 && cell.history <= 10"
                [class.warning]="cell.history > 10 && cell.history <= 100"
                [class.danger]="cell.history > 100">
                <a [routerLink]="['/database', table.dbid, 'table', table.tableName, 'cell', cell.pkval, cell.name]" title="{{cell.history}} changes">
                    <ng-container *ngIf="cell.data">
                        {{cell.data}}
                    </ng-container>
                    <ng-container *ngIf="!cell.data">
                        <i class="text-muted">&lt;empty&gt;</i>
                    </ng-container>
                </a>
                <button type="button" class="watch" (click)="toggleMonitor(alertCellData, cell.name, cell.pkval)"
                        title="monitor column">
                    <span class="glyphicon"
                          [class.glyphicon-star-empty]="!monitorCell[cell.name + '-|-' + cell.pkval]"
                          [class.glyphicon-star]="monitorCell[cell.name + '-|-' + cell.pkval]"></span>
                </button>
                <button *ngIf="cell.name != table.pkname" type="button" class="watch" title="edit"
                        [routerLink]="['/database', table.dbid, 'create']"
                        [queryParams]="{type: 'data', action: 'update', name: table.tableName, pkval: cell.pkval, col: cell.name}">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button *ngIf="cell.name == table.pkname" type="button" class="watch" title="delete"
                        [routerLink]="['/database', table.dbid, 'create']"
                        [queryParams]="{type: 'data', action: 'delete', name: table.tableName, pkval: cell.pkval}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button *ngIf="cell.name == table.pkname" type="button" class="watch" title="lock"
                        [routerLink]="['/database', table.dbid, 'create']"
                        [queryParams]="{type: 'lock', target: 'row', name: table.tableName, pkval: cell.pkval}">
                    <span class="glyphicon glyphicon-lock"></span>
                </button>
                <button *ngIf="cell.name != table.pkname" type="button" class="watch" title="lock"
                        [routerLink]="['/database', table.dbid, 'create']"
                        [queryParams]="{type: 'lock', target: 'cell', name: table.tableName, pkval: cell.pkval, col: cell.name}">
                    <span class="glyphicon glyphicon-lock"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
