<div class="container">
    <div class="row">
        <div [class]="layoutclass">
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'me.menu.list.OtherTitle' | translate }}</div>
                <div class="list-group">
                    <a [routerLink]="['/user', 'keys' ]" class="list-group-item">
                        <i class="glyphicon glyphicon-lock"></i> {{ 'me.menu.list.PrivateKeyManager' | translate }}
                    </a>
                    <a [routerLink]="['/app', 'about' ]" class="list-group-item">
                        <i class="glyphicon glyphicon-info-sign"></i> {{ 'me.menu.list.About' | translate }}
                    </a>
                    <a [routerLink]="['/app', 'feedback' ]" class="list-group-item">
                        <i class="glyphicon glyphicon-send"></i> {{ 'me.menu.list.Feedback' | translate }}
                    </a>
                    <a [routerLink]="['/user', 'settings' ]" class="list-group-item">
                        <i class="glyphicon glyphicon-cog"></i> {{ 'me.menu.list.Settings' | translate }}
                    </a>
                    <!--<button (click)="logout()" class="list-group-item list-group-item-danger">
                        <i class="glyphicon glyphicon-log-out"></i>
                        {{ 'me.menu.list.Logout' | translate }}
                    </button>-->
                </div>
            </div>
        </div>
    </div>
</div>
