<ol class="breadcrumb hidden-xs">
    <li><a [routerLink]="['/alert']">{{ 'alert.nav.HomeLinkText' | translate }}</a></li>
    <li class="active">{{message.sender}}</li>
</ol>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-bell"></span>
            {{message.sender}}
        </h3>
    </div>
    <div class="panel-body">
        <p innerHtml="{{message.summary | newline}}"></p>
    </div>
    <div class="panel-footer">
        &nbsp;
        <div class="pull-right">
            <button type="button" class="btn btn-warning btn-xs" (click)="dismiss()">{{ 'alert.detail.DismissButtonText' | translate }}</button>
        </div>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <b>{{ 'alert.detail.ConfigSectionTitle' | translate }}</b>
    </div>
    <database-alert-list [configs]="[message.origin]" [showDelete]="false"></database-alert-list>
</div>
