<!--for schema actions-->
<ng-container *ngFor="let action of schemaActions">
    <div class="panel"
         [class.panel-success]="action.Type == 'CreateSchemaAction'"
         [class.panel-warning]="action.Type == 'ModifySchemaAction'"
         [class.panel-danger]="action.Type == 'DropSchemaAction'">
        <div class="panel-heading">
            <h3 class="panel-title">
                <ng-container [ngSwitch]="action.Type">
                    <ng-template [ngSwitchCase]="'CreateSchemaAction'">
                        {{ 'db.chain.schemaAction.CreateName' | translate }}
                    </ng-template>
                    <ng-template [ngSwitchCase]="'ModifySchemaAction'">
                        {{ 'db.chain.schemaAction.ModifyName' | translate }}
                    </ng-template>
                    <ng-template [ngSwitchCase]="'DropSchemaAction'">
                        {{ 'db.chain.schemaAction.DropName' | translate }}
                    </ng-template>
                </ng-container>
                {{action.Name}}
                <a [routerLink]="['/database', dbid, 'chain', action.transaction.Hash]">{{action.transaction.Hash}}</a>
            </h3>
        </div>
        <div class="panel-body">
            <ng-container [ngSwitch]="action.Type">
                <ng-template [ngSwitchCase]="'CreateSchemaAction'">
                    <!--create-->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'db.chain.schemaAction.CreateColumnName' | translate }}</th>
                                <th>{{ 'db.chain.schemaAction.CreateColumnType' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let col of action.Columns">
                                <td>{{col.Name}} <span *ngIf="col.PrimaryKey" class="label label-primary">{{ 'db.chain.schemaAction.PkSuffix' | translate }}</span></td>
                                <td>{{col.Type == 0 ? 'string' : 'other'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
                <ng-template [ngSwitchCase]="'ModifySchemaAction'">
                    <!--modify-->
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'db.chain.schemaAction.ModifyColumnName' | translate }}</th>
                                <th>{{ 'db.chain.schemaAction.ModifyColumnType' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--delete-->
                            <tr *ngFor="let col of action.DropColumns" class="danger">
                                <td>{{col}}</td>
                                <td>{{ 'db.chain.schemaAction.DropRowTypeEmptyText' | translate }}</td>
                            </tr>
                            <!--add or modify-->
                            <tr *ngFor="let col of action.AddOrModifyColumns" class="warning">
                                <td>
                                    <i class="text-muted">{{ 'db.chain.schemaAction.NewRowNameText' | translate }}</i> {{col.Name}}
                                    <span *ngIf="col.PrimaryKey" class="label label-primary">{{ 'db.chain.schemaAction.PkSuffix' | translate }}</span>
                                </td>
                                <td>{{col.Type == 0 ? 'string' : 'other'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
                <ng-template [ngSwitchCase]="'DropSchemaAction'">
                    <!--delete-->
                </ng-template>
            </ng-container>
        </div>
    </div>
</ng-container>
<!--for data actions-->
<ng-container *ngFor="let table of dataActions">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'db.chain.dataAction.ActionTitle' | translate: {name: table.tableName} }}</h3>
        </div>
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'db.chain.dataAction.TransactionColumnName' | translate }}</th>
                        <th>{{ 'db.chain.dataAction.OperationColumnName' | translate }}</th>
                        <th *ngFor="let col of table.columns">
                            {{col}}
                            <span *ngIf="col == table.pkname" class="label label-primary">{{ 'db.chain.dataAction.PkSuffix' | translate }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let action of table.actions">
                        <tr [class.success]="action.Type == 'InsertDataAction'"
                            [class.warning]="action.Type == 'UpdateDataAction'"
                            [class.danger]="action.Type == 'DeleteDataAction'">
                            <td><a [routerLink]="['/database', dbid, 'chain', action.transaction.Hash]">{{action.transaction.Hash | hashbeauty}}</a></td>
                            <td>
                                <i>
                                    <b>
                                        <ng-container [ngSwitch]="action.Type">
                                            <ng-template [ngSwitchCase]="'InsertDataAction'">
                                                {{ 'db.chain.dataAction.InsertName' | translate }}
                                            </ng-template>
                                            <ng-template [ngSwitchCase]="'UpdateDataAction'">
                                                {{ 'db.chain.dataAction.UpdateName' | translate }}
                                            </ng-template>
                                            <ng-template [ngSwitchCase]="'DeleteDataAction'">
                                                {{ 'db.chain.dataAction.DeleteName' | translate }}
                                            </ng-template>
                                        </ng-container>
                                    </b>
                                </i>
                            </td>
                            <!--create-->
                            <ng-container *ngIf="action.Type == 'InsertDataAction'">
                                <td *ngFor="let col of table.columns">{{findcoldata(action.Columns, col)}}</td>
                            </ng-container>

                            <!--modify-->
                            <ng-container *ngIf="action.Type == 'UpdateDataAction'">
                                <td *ngFor="let col of table.columns">
                                    <i *ngIf="col != table.pkname"><ins>{{findcoldata(action.Columns, col)}}</ins></i>
                                    <ng-container *ngIf="col == table.pkname">{{action.PrimaryKeyValue}}</ng-container>
                                </td>
                            </ng-container>

                            <!--delete-->
                            <ng-container *ngIf="action.Type == 'DeleteDataAction'">
                                <td [attr.colspan]="table.columns.length">
                                    <i class="text-muted">{{ 'db.chain.dataAction.DeletedCellPrefix' | translate }}</i>
                                    <s>{{action.PrimaryKeyValue}}</s>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
<!--for lock targets-->
<ng-container *ngFor="let tran of lockTransactions">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'db.chain.lockTransaction.Name' | translate }}
                <a [routerLink]="['/database', dbid, 'chain', tran.Hash]">{{tran.Hash | hashbeauty}}</a>
            </h3>
        </div>
        <div class="panel-body">
            <pre>{{tran.code}}</pre>
        </div>
        <ul class="list-group">
            <li *ngFor="let target of tran.LockTargets" class="list-group-item">
                <ng-container [ngSwitch]="target.TargetType">
                    <ng-template [ngSwitchCase]="'Database'">
                        <span class="glyphicon glyphicon-tasks"></span>
                        &nbsp;<span innerHtml="{{ 'db.chain.lockTransaction.type.Database' | translate }}"></span>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'TableSchema'">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        &nbsp;<span innerHtml="{{ 'db.chain.lockTransaction.type.TableSchema' | translate }}"></span>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'TableRowData'">
                        <span class="glyphicon glyphicon-list"></span>
                        &nbsp;<span innerHtml="{{ 'db.chain.lockTransaction.type.TableRowData' | translate }}"></span>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'TableCellData'">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                        &nbsp;<span innerHtml="{{ 'db.chain.lockTransaction.type.TableCellData' | translate }}"></span>
                    </ng-template>
                    <ng-template [ngSwitchCase]="'TableColumnData'">
                        <span class="glyphicon glyphicon-unchecked"></span>
                        &nbsp;<span innerHtml="{{ 'db.chain.lockTransaction.type.TableColumnData' | translate }}"></span>
                    </ng-template>
                </ng-container>
                <ng-container *ngFor="let permission of target.PublicPermission">
                    <ng-container [ngSwitch]="permission">
                        <ng-template [ngSwitchCase]="'None'">
                            <span class="label label-default" innerHtml="{{ 'db.chain.lockTransaction.permission.None' | translate }}"></span>
                        </ng-template>
                        <ng-template [ngSwitchCase]="'ReadOnly'">
                            <span class="label label-default" innerHtml="{{ 'db.chain.lockTransaction.permission.ReadOnly' | translate }}"></span>
                        </ng-template>
                        <ng-template [ngSwitchCase]="'Insert'">
                            <span class="label label-default" innerHtml="{{ 'db.chain.lockTransaction.permission.Insert' | translate }}"></span>
                        </ng-template>
                        <ng-template [ngSwitchCase]="'Update'">
                            <span class="label label-default" innerHtml="{{ 'db.chain.lockTransaction.permission.Update' | translate }}"></span>
                        </ng-template>
                        <ng-template [ngSwitchCase]="'Delete'">
                            <span class="label label-default" innerHtml="{{ 'db.chain.lockTransaction.permission.Delete' | translate }}"></span>
                        </ng-template>
                        <ng-template [ngSwitchCase]="'AlterLock'">
                            <span class="label label-default" innerHtml="{{ 'db.chain.lockTransaction.permission.AlterLock' | translate }}"></span>
                        </ng-template>
                        <ng-template [ngSwitchCase]="'AlterSchema'">
                            <span class="label label-default" innerHtml="{{ 'db.chain.lockTransaction.permission.ALterSchema' | translate }}"></span>
                        </ng-template>
                    </ng-container>
                </ng-container>
                <ul class="alert-detail-list">
                    <li *ngIf="target.TableName">
                        {{ 'db.chain.lockTransaction.TableName' | translate }} <mark>{{target.TableName}}</mark>
                    </li>
                    <li *ngIf="target.ColumnName">
                        {{ 'db.chain.lockTransaction.ColumnName' | translate }} <mark>{{target.ColumnName}}</mark>
                    </li>
                    <li *ngIf="target.PrimaryKey">
                        {{ 'db.chain.lockTransaction.PrimaryKeyValue' | translate }} <mark>{{target.PrimaryKey}}</mark>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</ng-container>
