<database-nav *ngIf="db" [dbid]="db.id" [dbname]="db.name" [tableName]="tableData?.tableName" [current]="pkval + ' | ' + column"></database-nav>
<div *ngIf="!tableData && ! transactions" class="alert alert-warning">
    {{ 'db.cell.NoDataMessage' | translate }}
</div>
<div *ngIf="tableData" class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'db.cell.DataDetailTitle' | translate }}</h3>
    </div>
    <div class="table-responsive">
        <database-table [table]="tableData" [highlightColumn]="column"></database-table>
    </div>
</div>
<div *ngIf="transactions" class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'db.cell.DataRelatedTransactionsTitle' | translate }}</h3>
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let tran of transactions">
                <td><a [routerLink]="['/database', db.id, 'chain', tran.Hash]">{{tran.Hash | hashbeauty}}</a></td>
                <td>
                    <ng-container [ngSwitch]="tran.Type">
                        <ng-template [ngSwitchCase]="'DataTransaction'">
                            {{ 'db.def.DataTransactionName' | translate }}
                        </ng-template>
                        <ng-template [ngSwitchCase]="'SchemaTransaction'">
                            {{ 'db.def.SchemaTransactionName' | translate }}
                        </ng-template>
                        <ng-template [ngSwitchCase]="'LockTransaction'">
                            {{ 'db.def.LockTransactionName' | translate }}
                        </ng-template>
                    </ng-container>
                    {{ 'db.cell.TransactionSuffix' | translate: {length: tran.Actions?.length} }}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'db.cell.ActionsTitle' | translate }}</h3>
    </div>
    <div class="table-responsive">
        <database-action [dbid]="db.id" [transactions]="transactions"></database-action>
    </div>
</div>
