<ng-container *ngIf="!error && !loading && !block && !transaction">
    <database-nav [dbid]="db.id" [dbname]="db.name" current="{{ 'db.chain.general.noInfo.NavTitle' | translate }}"></database-nav>
    <div class="alert alert-warning">
        {{ 'db.chain.general.noInfo.WarningText' | translate }}
        <button class="btn btn-primary btn-sm" (click)="back()">{{ 'db.chain.general.noInfo.BackButtonText' | translate }}</button>
    </div>
</ng-container>
<ng-container *ngIf="loading && !block && !transaction">
    <database-nav [dbid]="db.id" [dbname]="db.name" current="{{ 'db.chain.general.loading.NavTitle' | translate }}"></database-nav>
    <div class="alert alert-info">
        {{ 'db.chain.general.loading.InfoText' | translate }}
        <button class="btn btn-primary btn-sm" (click)="back()">{{ 'db.chain.general.loading.BackButtonText' | translate }}</button>
    </div>
</ng-container>
<ng-container *ngIf="error">
    <database-nav [dbid]="db.id" [dbname]="db.name" current="{{ 'db.chain.general.error.NavTitle' | translate }}"></database-nav>
    <div class="alert alert-danger">
        {{ 'db.chain.general.error.WarningText' | translate }}
        <button class="btn btn-success btn-sm" (click)="loadData()">{{ 'db.chain.general.error.LoadButtonText' | translate }}</button>
        <button class="btn btn-primary btn-sm" (click)="back()">{{ 'db.chain.general.error.BackButtonText' | translate }}</button>
    </div>
</ng-container>
<ng-container *ngIf="block">
    <database-nav [dbid]="db.id" [dbname]="db.name" current="{{ 'db.nav.ChainBlock' | translate: {hash: (block.Hash | hashbeauty)} }}"></database-nav>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'db.chain.block.SummaryTitle' | translate }}</h3>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>{{ 'db.chain.block.Hash' | translate }}</strong></td>
                    <td><a [routerLink]="['/database', db.id, 'chain', block.Hash]">{{block.Hash | hashbeauty}}</a></td>
                </tr>
                <tr>
                    <td><strong>{{ 'db.chain.block.PrevHash' | translate }}</strong></td>
                    <td>
                        <span class="text-muted" *ngIf="!block.PreviousBlockHash">{{ 'db.chain.block.GenesisBlockEmptyField' | translate }}</span>
                        <a *ngIf="block.PreviousBlockHash" [routerLink]="['/database', db.id, 'chain', block.PreviousBlockHash]">{{block.PreviousBlockHash | hashbeauty}}</a>
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'db.chain.block.StateRoot' | translate }}</strong></td>
                    <td>{{block.StateRoot | hashbeauty}}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'db.chain.block.TransactionRoot' | translate }}</strong></td>
                    <td>{{block.TransactionRoot | hashbeauty}}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'db.chain.block.Time' | translate }}</strong></td>
                    <td>{{block.Time | date: "yyyy-MM-dd HH:mm:ss"}}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'db.chain.block.BookKeeper' | translate }}</strong></td>
                    <td>{{block.BookKeeper | hashbeauty}}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'db.chain.block.Height' | translate }}</strong></td>
                    <td>
                        <a class="btn btn-primary btn-xs" [routerLink]="['/database', db.id, 'chain', block.Height - 1]">{{ 'db.chain.block.Previous' | translate }}</a>
                        <a [routerLink]="['/database', db.id, 'chain', block.Height]">{{block.Height}}</a>
                        <a class="btn btn-primary btn-xs" [routerLink]="['/database', db.id, 'chain', block.Height + 1]">{{ 'db.chain.block.Next' | translate }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'db.chain.block.TransactionsTitle' | translate }}</h3>
        </div>
        <table class="table">
            <tbody>
                <tr *ngFor="let tran of block.Transactions">
                    <td><a [routerLink]="['/database', db.id, 'chain', tran.Hash]">{{tran.Hash | hashbeauty}}</a></td>
                    <td>
                        <ng-container [ngSwitch]="tran.Type">
                            <ng-template [ngSwitchCase]="'DataTransaction'">
                                {{ 'db.def.DataTransactionName' | translate }}
                                {{ 'db.chain.block.ActionTransactionSuffix' | translate: {length: tran.Actions?.length} }}
                            </ng-template>
                            <ng-template [ngSwitchCase]="'SchemaTransaction'">
                                {{ 'db.def.SchemaTransactionName' | translate }}
                                {{ 'db.chain.block.ActionTransactionSuffix' | translate: {length: tran.Actions?.length} }}
                            </ng-template>
                            <ng-template [ngSwitchCase]="'LockTransaction'">
                                {{ 'db.def.LockTransactionName' | translate }}
                                {{ 'db.chain.block.TargetTransactionSuffix' | translate: {length: tran.LockTargets?.length} }}
                            </ng-template>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'db.chain.block.DetailTitle' | translate }}</h3>
        </div>
        <div class="panel-body">
            <database-action [dbid]="db.id" [transactions]="block.Transactions"></database-action>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="transaction">
    <database-nav [dbid]="db.id" [dbname]="db.name" current="{{ 'db.nav.ChainTransaction' | translate: {hash: (transaction.Hash | hashbeauty)} }}"></database-nav>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'db.chain.transaction.SummaryTitle' | translate }}</h3>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>{{ 'db.chain.transaction.Hash' | translate }}</strong></td>
                    <td><a [routerLink]="['/database', db.id, 'chain', transaction.Hash]">{{transaction.Hash | hashbeauty}}</a></td>
                </tr>
                <!--<tr>
                    <td><strong>{{ 'db.chain.transaction.Time' | translate }}</strong></td>
                    <td>(TBD)</td>
                </tr>-->
                <tr>
                    <td><strong>{{ 'db.chain.transaction.Type' | translate }}</strong></td>
                    <td>
                        <ng-container [ngSwitch]="transaction.Type">
                            <ng-template [ngSwitchCase]="'DataTransaction'">
                                {{ 'db.def.DataTransactionName' | translate }}
                            </ng-template>
                            <ng-template [ngSwitchCase]="'SchemaTransaction'">
                                {{ 'db.def.SchemaTransactionName' | translate }}
                            </ng-template>
                            <ng-template [ngSwitchCase]="'LockTransaction'">
                                {{ 'db.def.LockTransactionName' | translate }}
                            </ng-template>
                        </ng-container>
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'db.chain.transaction.Block' | translate }}</strong></td>
                    <td>
                        <a *ngIf="transaction.Block"
                           [routerLink]="['/database', db.id, 'chain', transaction.Block]">
                            {{transaction.Block | hashbeauty}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'db.chain.transaction.WitnessBlock' | translate }}</strong></td>
                    <td>
                        <a *ngIf="transaction.WitnessBlock"
                           [routerLink]="['/database', db.id, 'chain', transaction.WitnessBlock]">
                            {{transaction.WitnessBlock | hashbeauty}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ 'db.chain.transaction.Initiator' | translate }}</strong></td>
                    <td><span title="{{transaction.Initiator}}">{{transaction.Initiator | hashbeauty}}</span></td>
                </tr>
            </tbody>
        </table>
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'db.chain.transaction.ActionsTitle' | translate }}</h3>
        </div>
        <div class="panel-body">
            <database-action [dbid]="db.id" [transactions]="[transaction]"></database-action>
        </div>
    </div>
</ng-container>
