<database-nav [current]="db.name"></database-nav>
<div class="panel panel-default">
    <div class="panel-heading">
        <button type="button" class="close" (click)="toggleMonitor()"
                title="{{ 'db.detail.DatabaseToggleButtonTitle' | translate }}">
            <span class="glyphicon"
                  [class.glyphicon-star-empty]="!monitor"
                  [class.glyphicon-star]="monitor"></span>
        </button>
        <h3 class="panel-title">
            {{ 'db.detail.BasicInfoTitle' | translate }}
            <button type="button" (click)="toggleEditMode()"
                    class="btn btn-xs"
                    [class.btn-danger]="db.editmode"
                    [class.btn-primary]="!db.editmode">
                <ng-container *ngIf="!db.editmode">
                    <span class="glyphicon glyphicon-edit"></span>
                    {{ 'db.detail.SwitchToEditModeButtonText' | translate }}
                </ng-container>
                <ng-container *ngIf="db.editmode">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                    {{ 'db.detail.SwitchToBrowseModeButtonText' | translate }}
                </ng-container>
            </button>
        </h3>
    </div>
    <div class="panel-body">
        <ng-container *ngIf="db && lastBlock">
            <div class="media-left">
                <img class="media-object chaindb-image" [src]="db.image">
            </div>
            <div class="media-body">
                <h4 class="list-group-item-heading">
                    {{db.name}}
                    <a *ngIf="db?.editmode" [routerLink]="['/database', db.id, 'create']" class="btn btn-success btn-sm">{{ 'db.detail.CreateTransactionButton' | translate }}</a>
                </h4>
                <p class="text-muted">{{db.description}}</p>
                <p>{{ 'db.detail.Address' | translate }}<span class="text-success">{{db.address}}</span></p>
                <p>{{ 'db.detail.Height' | translate }}<a [routerLink]="['/database', db.id, 'chain', lastBlock.Height]">{{lastBlock.Height}}</a></p>
                <p>{{ 'db.detail.LastBlock' | translate }}<a [routerLink]="['/database', db.id, 'chain', lastBlock.Hash]">{{lastBlock.Hash | hashbeauty}}</a>({{lastBlock.Time | date}})</p>
                <p>
                    <button type="button" (click)="refreshAlertNotification()" class="btn btn-primary">Refresh</button>
                </p>
            </div>
        </ng-container>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <button *ngIf="db?.editmode" type="button" class="close" title="add new table"
                [routerLink]="['/database', db.id, 'create']"
                [queryParams]="{type: 'schema', action: 'create'}">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <h3 class="panel-title">
            {{ 'db.detail.TablesTitle' | translate }}
            <span class="btn-group btn-group-xs" role="group">
                <button *ngIf="db?.editmode" type="button" class="btn btn-warning" title="lock database"
                        [routerLink]="['/database', db.id, 'create']"
                        [queryParams]="{type: 'lock', target: 'database'}">
                    <span class="glyphicon glyphicon-lock"></span> {{ 'db.detail.LockDatabase' | translate }}
                </button>
            </span>
        </h3>
    </div>
    <ul *ngIf="db && tables" class="list-group">
        <a *ngFor="let table of tables" [routerLink]="['/database', db.id, 'table', table.Name]" class="list-group-item">{{table.Name}}</a>
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'db.detail.AlertListTitle' | translate }}</h3>
    </div>
    <database-alert-list [configs]="alertConfigs" [showDb]="false" (onDelete)="remove($event)"></database-alert-list>
</div>