<database-nav [dbid]="db.id" [dbname]="db.name" [current]="tableData?.tableName"></database-nav>
<div class="panel panel-success">
    <div class="panel-heading">
        <button *ngIf="false" type="button" class="close" (click)="toggleMonitor(alarmTableData)"
                title="{{ 'db.table.MonitorTableDataTooltip' | translate }}">
            <span class="glyphicon"
                  [class.glyphicon-star-empty]="!monitorData"
                  [class.glyphicon-star]="monitorData"></span>
        </button>
        <button type="button" class="close" (click)="toggleMonitor(alarmTableSchema)"
                title="{{ 'db.table.MonitorTableSchemaTooltip' | translate }}">
            <span class="glyphicon"
                  [class.glyphicon-star-empty]="!monitorSchema"
                  [class.glyphicon-star]="monitorSchema"></span>
        </button>
        <h3 class="panel-title">
            {{ 'db.table.TableTitle' | translate: {name: tid} }}
            <span *ngIf="db?.editmode" class="btn-group btn-group-xs" role="group">
                <button type="button" class="btn btn-danger"
                        [routerLink]="['/database', db.id, 'create']"
                        [queryParams]="{type: 'schema', action: 'drop', name: tid}">
                    <span class="glyphicon glyphicon-minus"></span> {{ 'db.table.DeleteTableButtonText' | translate }}
                </button>
                <button type="button" class="btn btn-primary"
                        [routerLink]="['/database', db.id, 'create']"
                        [queryParams]="{type: 'schema', action: 'modify', name: tid}">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'db.table.ModifyTableButtonText' | translate }}
                </button>
                <button type="button" class="btn btn-success"
                        [routerLink]="['/database', db.id, 'create']"
                        [queryParams]="{type: 'data', action: 'insert', name: tid}">
                    <span class="glyphicon glyphicon-plus"></span> {{ 'db.table.InsertDataButtonText' | translate }}
                </button>
                <button type="button" class="btn btn-warning"
                        [routerLink]="['/database', db.id, 'create']"
                        [queryParams]="{type: 'lock', target: 'schema', name: tid}">
                    <span class="glyphicon glyphicon-lock"></span> {{ 'db.table.LockTableButtonText' | translate }}
                </button>
            </span>
        </h3>
    </div>
    <div class="table-responsive">
        <database-table [table]="tableData"></database-table>
    </div>
    <button type="button" *ngIf="!enablePager && lastCursorId != 0" (click)="loadMore()" class="btn btn-block btn-primary">
        <span class="glyphicon glyphicon-download"></span>
        {{ 'db.table.LoadMoreButtonText' | translate }}
    </button>
    <div *ngIf="enablePager" class="panel-footer">
        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm pull-right">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a href="javascript:void(0)" (click)="setPage(1)">{{ 'db.table.pagination.First' | translate }}</a>
            </li>
            <li class="hidden-xs" [ngClass]="{disabled:pager.currentPage === 1}">
                <a href="javascript:void(0)" (click)="setPage(pager.currentPage - 1)">{{ 'db.table.pagination.Previous' | translate }}</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a href="javascript:void(0)" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="hidden-xs" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a href="javascript:void(0)" (click)="setPage(pager.currentPage + 1)">{{ 'db.table.pagination.Next' | translate }}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a href="javascript:void(0)" (click)="setPage(pager.totalPages)">{{ 'db.table.pagination.Last' | translate }}</a>
            </li>
        </ul>
        &nbsp;<br />
        &nbsp;
    </div>
</div>

