<div class="container">
    <div class="row">

        <h1>关于优擎</h1>

        <h3 class="text-primary">我们是谁？</h3>
        <p>优擎区块链数据库（UChainDb）是一个以区块链为技术核心的数据库系统 ，通过区块链防篡改、防伪造，从而从技术上解决数据的信任问题。</p>

        <h3 class="text-primary">我们的技术核心</h3>
        <p>优擎区块链数据库采用了完全自主研发的区块链技术，通过区块链存储所有变更数据，其最大的优势是数据库使用区块链技术存储着所有的数据变更记录，并以密码学的方式保证着这些数据不可篡改和不可伪造。</p>

        <h3 class="text-primary">我们的优势</h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>普通数据库</th>
                    <th>区块链数据库</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                        只有最新时间点的数据
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success"></span>
                        记录了所有历史变更记录
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                        没有密码学的帮助来验证数据，数据可被人为篡改、伪造。
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success"></span>
                        使用了密码学加链式结构，变更记录不可篡改、伪造
                    </td>
                </tr>
            </tbody>
        </table>

        <p>优擎区块链数据库除了具备常规的区块链数据库所有的一切优势之外，更重要的是：<mark><b>优擎区块链数据库是我们自主研发的系统，现在区块链技术的更迭还非常快，对于适应未来的变化，我们具有先发优势。</b></mark></p>

        <h3 class="text-primary">我们的服务内容</h3>
        <ol>
            <li>提供区块链数据库底层技术</li>
            <li>帮助客户打造以区块链为核心的中小型信息系统</li>
            <li>提供BaaS模式的云平台</li>
        </ol>

        <h3 class="text-primary">我们的愿景</h3>
        <p class="text-center bg-info lead">使用区块链技术，建立全新的数据信用体系。</p>

        <hr />

        <h3 class="text-primary">客户端信息</h3>
        <p>版本号： <code>{{UCLIENT_VERSION}}</code></p>

    </div>
</div>

<div class="help-block"></div>