<div class="help-block"></div>
<div class="text-center-xs">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" (click)="setArticle('guide')">
            <span class="glyphicon glyphicon-apple"></span> 入门指南
        </button>
        <button type="button" class="btn btn-primary" (click)="setArticle('faq')">
            <span class="glyphicon glyphicon-question-sign"></span> 常见问答
        </button>
        <!--<button type="button" class="btn btn-danger" (click)="setArticle('db')">
            <span class="glyphicon glyphicon-hdd"></span> 发现链库
        </button>-->
        <button type="button" class="btn btn-warning" (click)="setArticle('case')">
            <span class="glyphicon glyphicon-stats"></span> 案例研究
        </button>
    </div>
</div>
<ng-container *ngFor="let article of articleList">
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading"><a [routerLink]="['/discover',article.url]">{{article.title}}</a></h4>
            <p class="text-muted">
                {{article.author}}
                <span class="text-muted pull-right">{{article.date}}</span>
            </p>
        </div>
    </div>
    <hr />
</ng-container>

