<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></div>
                    <div class="info">
                        <h3 class="title">{{ 'app.contact.MailAndSiteSectionTitle' | translate }}</h3>
                        <p>
                            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                            <a href="mailto:service@uchaindb.com">service@uchaindb.com</a>
                            <br>
                            <br>
                            <i class="glyphicon glyphicon-globe" aria-hidden="true"></i>
                            <a target="_blank" href="https://www.uchaindb.com">www.uchaindb.com <i class="glyphicon glyphicon-new-window" aria-hidden="true"></i></a>
                        </p>

                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="glyphicon glyphicon-send" aria-hidden="true"></i></div>
                    <div class="info">
                        <h3 class="title">{{ 'app.contact.WechatSectionTitle' | translate }}</h3>
                        <p>
                            <img src="/images/wechat.png" class="img-thumbnail" />
                        </p>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
    </div>
</div>
