<nav class='navbar navbar-inverse navbar-fixed-top hidden-xs'>
    <div class='navbar-header'>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </button>
        <a class='navbar-brand' [routerLink]="['/home']">{{ 'app.BrandTitle' | translate }}</a>
    </div>
    <div class='navbar-collapse collapse'>
        <ul class='nav navbar-nav pull-right'>
            <li *ngIf="isUserLoggedIn" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/discover']">
                    <i class='glyphicon glyphicon-globe'></i>
                    {{ 'app.nav.desktop.DiscoverTitle' | translate }}
                </a>
            </li>
            <li *ngIf="isUserLoggedIn" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/database']">
                    <i class='glyphicon glyphicon-hdd'></i>
                    {{ 'app.nav.desktop.DatabaseTitle' | translate }}
                </a>
            </li>
            <li *ngIf="isUserLoggedIn" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/alarm']">
                    <i class='glyphicon glyphicon-inbox' [class.newinfo]="medot"></i>
                    {{ 'app.nav.desktop.AlarmTitle' | translate }}
                </a>
            </li>
            <li *ngIf="isUserLoggedIn" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/user']">
                    <i class='glyphicon glyphicon-user'></i>
                    {{ 'app.nav.desktop.PersonalTitle' | translate }}
                </a>
            </li>
            <!--<li *ngIf="!isUserLoggedIn" [routerLinkActive]="['link-active']">
                <a [routerLink]="['/login']">
                    <i class='glyphicon glyphicon-log-in'></i>
                    {{ 'app.nav.desktop.LoginTitle' | translate }}
                </a>
            </li>-->
        </ul>
    </div>
</nav>
